# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Test output
_TEST/run_tests
_TEST/oldandurgent
_TEST/itemcounts
_TEST/listbycat
_TEST/findall
_TEST/*.txt.tmp
_TEST/fridge_saved.txt
